.section {
  --cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 3rem;
  padding: 5rem 0;
}
.section > .space-y {
  --y: 2rem;
}

.bio {
  grid-column: span 2;
}

.img {
  border: 2px solid var(--clrBlue);
  border-radius: var(--brRadius);
}

@media (min-width: 60em) {
  .section {
    --cols: 4;
  }
}
