.bio {
  --cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 3rem;
  padding: 5rem 0;
}
.bio > .space-y {
  --y: 2rem;
}

.bio-right {
  grid-column: span 2;
}

@media (min-width: 40em) {
  .bio {
    --cols: 4;
  }
}
