.a,
.button {
  padding: 1rem 1.4rem;
  border-radius: var(--brRadius);
  border: 1px solid var(--clrBlue);
  color: var(--clrWhite);
  font-weight: var(--fwMedium);
  transition: var(--delay) ease-out;
  cursor: pointer;
}

.a {
  display: inline-block;
}

.a:hover,
.button:hover {
  background-color: var(--clrLightBlue);
  transform: scale(var(--scaleDown));
}

.secondary {
  border: 1px solid var(--clrLightBlue);
  color: var(--clrWhite);
}
