.btn-link,
.btn {
  padding: 1rem 1.4rem;
  border-radius: var(--brRadius);
  background-color: var(--clrBlue);
  color: var(--clrWhite);
  font-weight: var(--fwMedium);
  transition: var(--delay) ease-out;
  cursor: pointer;
}

.btn-link {
  display: inline-block;
}

.btn-link:hover,
.btn:hover {
  box-shadow: var(--elevation);
  transform: scale(var(--scaleDown));
  opacity: var(--fade);
}

.secondary {
  background-color: var(--clrYellow);
  color: var(--clrBlack);
}
