.card {
  margin: 1.6rem 0;
  background-color: var(--clrWhite);
  box-shadow: var(--elevation);
  border-radius: var(--brRadius);
  transition: var(--delay) ease-in-out;
}
.card:hover {
  transform: scale(var(--scaleUp));
}
.card > div {
  padding: 2rem;
}
.card :is(span) {
  font-weight: var(--fwBold);
}
