.section {
  background-color: var(--clrWhite-20);
  padding: 5rem 0;
}

.grid {
  --cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
}

.intro {
  grid-column: span 2;
  margin: 1rem 0;
}

.itemGrid {
  gap: 1.4rem;
}

@media (min-width: 40em) {
  .grid {
    --cols: 4;
  }
  .itemGrid {
    --cols: 3;
  }
}
