.hero {
  position: relative;
  background-color: var(--clrBlue);
  color: var(--clrWhite);
  padding-top: 1.4rem;
  padding-bottom: 14rem;
}

.hero :is(h1, p) {
  max-width: 38rem;
}

.hero :is(span) {
  color: var(--clrYellow);
}
