.section {
  padding: 5rem 0;
}
.section > :first-child {
  --cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 3rem;
  margin-bottom: 2rem;
}

.intro {
  grid-column: span 2;
  margin: 1rem 0;
}

.skillsGrid {
  --cols: 1;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  gap: 1rem;
}

@media (min-width: 40em) {
  .section > :first-child {
    --cols: 4;
  }
  .intro {
    margin: 0;
  }
  .skillsGrid {
    --cols: 2;
  }
}
