{% extends "base.html" %}

{% block content %}
  <section class="ob-home ob-flow">
    <h1 class="ob-heading-xl">Hello I'm Jake Ord</h1>
    <p class="ob-body">
      I make the case for empowering users with intuitive interfaces through
      creating meaningful interactions. I also love to build apps in Python &
      Javascript. Right now, I am an Interaction Designer at 
      <a class="ob-link" href="https://www.gov.uk/government/organisations/hm-revenue-customs">HMRC</a>.
      But have worked previously for 
      <a class="ob-link" href="https://def.co.uk">DEF Software Ltd.</a>
    </p>
    <div class="ob-stack">
      <img
        src="/me-profile.jpg"
        alt="Profile shot of Jake Ord with a sunset in the background"
        width="50"
        height="50"
        class="ob-avatar"
      />
      <p class="ob-body">
        "I take problems and turn them into simple, research-validated solutions
        that drive business growth and bring value to end-users".
      </p>
    </div>

    <p class="ob-body">
      I achieve this by challenging expectations, engaging in rigorous iteration,
      and thriving on working closely with stakeholders, co-workers, and end-users
      to ensure that the end product is both accessible and usable.
    </p>

    <details class="ob-details">
      <summary>「お、ちょっと日本語を話せます」</summary>
      Oh, I speak a little Japanese.
    </details>
  </section>

{% endblock %}