{% extends "base.html" %}

{% block content %}
  <section class="ob-writing  ob-flow">
    <h1 class="ob-heading-xl">The Best Person You Will Ever Meet (9.8 IMDB)</h1>
    <ul class="ob-list ob-flow ob-body">
      <li>
        "Dating Jake is an absolute delight! They have an uncanny ability to make every mundane moment feel like
        an adventure. Whether it's their knack for accidentally locking us out of the car in the pouring rain or
        their unmatched talent for losing their keys at the most inconvenient times, you can be sure that
        boredom will never be a problem with them. If you enjoy constant surprises and a never-ending game of
        'where did we leave that thing,' Jake is the dating experience you've been waiting for!"</>
        <p><strong>The Tramps' Wife</strong></p>
      </li>
      <li>
        "When it comes to handling challenges, Jake is in a league of their own. I once saw them attempt to
        assemble an IKEA bookshelf without reading the instructions, and let's just say it was a performance
        worthy of a comedy show. Not only did they manage to put it together inside out, but they also created a
        whole new design that should probably be patented. If you're seeking someone who can turn even the
        simplest task into a full-blown comedy routine, Jake is your go-to problem solver!"</>
        <p><strong>A Drug Dealer From Blyth</strong></p>
      <li>
        "He still owes me 20 pounds"
        <p><strong>His Mother</strong></p>
      </li>
      <li>
        "He's alright"
        <p><strong>His best friend</strong></p>
      </li>
    </ul>
  </section>
{% endblock %}