/* Theme */
:root {
  /* Colors */
  --clrBlue: hsl(224, 64%, 33%);
  --clrBlue-20: hsl(224, 64%, 43%);
  --clrYellow: hsl(46, 97%, 75%);
  --clrYellow-20: hsl(46, 97%, 65%);
  --clrWhite: hsl(0, 0%, 100%);
  --clrWhite-20: hsl(0, 0%, 96%);
  --clrBlack: hsl(0, 0%, 4%);

  /* Typography */
  --ffHeading: "Fira Sans", sans-serif;
  --ffBody: "Public Sans", sans-serif;

  --fsBase: 1rem;
  --fsResize: calc(4vw + var(--fsBase));
  --fsHeading-1: clamp(3.052rem, var(--fsResize), 3.815rem);
  --fsHeading-2: 1.953rem;
  --fsHeading-3: 1.563rem;
  --fsHeading-4: 1.25rem;
  --fsSmall: 0.8rem;

  --fwMedium: 500;
  --fwBold: 700;

  /* Utilities */
  --scaleUp: 1.05; /* Transform Scale */
  --scaleDown: 0.95; /* Transform Scale */
  --fade: 0.7; /* Opacity */
  --brRadius: 0.4rem; /* Border Radius */
  --elevation: 0 0.2rem 1.4rem hsla(0, 0%, 0%, 0.1); /* Box Shadow */
  --overlay: 10; /* z-index */
  --delay: 0.15s; /* Timing delay (transitions, animations etc.) */
}
