* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colourFocus: #ffdd00;
  --colourBlack: #0a0a0a;
  --colourMidBlack: #d4d4d8;
  --colourWhite: #f5f5f5;
  --fsBody: 19px;
  --fwBold: 600;
  --fwRegular: 400;
}

.ordyboii-template {
  font-family: var(--fontGeistSans), Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--colourBlack);
  color: var(--colourWhite);
  max-width: 36rem;
  margin-inline: auto;
  padding: 1rem;
  padding-top: 4rem;
  font-size: var(--fsBody);

  &__section {
    padding-block: 2rem;
  }
}

.ordyboii-link {
  color: var(--colourMidBlack);

  &:hover {
    color: var(--colourFocus);
  }

  &:visited {
    color: var(--colourMidBlack);
  }

  &:focus {
    background-color: var(--colourFocus);
    color: var(--colourBlack);
  }
}

.ordyboii-heading {
  font-weight: 600;
  font-size: var(--fsBody);
}

.ordyboii-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ordyboii-flow > * + * {
  margin-top: 1.6rem;
}

.ordyboii-body {
  font-size: var(--fsBody);
}

.ordyboii-caption {
  font-size: 16px;
  color: var(--colourMidBlack);
}

.ordyboii-skip-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--colourFocus);
  color: var(--colourBlack);
  padding: 1rem;
  opacity: 0;

  &:focus {
    opacity: 1;
  }
}

.ordyboii-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
