html,
body {
  color: #181818;
  font-size: 1rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  padding: 1.4rem;
}
body div > * + * {
  margin-top: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}
