<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Interaction designer based in Newcastle, UK" />
    <meta name="keywords" content="">
    <title>{% block title %}{% endblock %} - Jake Ord</title>
    <link rel="icon" href="/svg/icon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="ob-flow">
    <a class="ob-link ob-skip-link" href="#content">Skip to content</a>
    <header class="ob-header ob-stack">
      <svg
        class="ob-flex-shrink-none"
        fill="white"
        width="50"
        height="80"
        minWidth="50"
      >
        <title>
          Logo for Jake Ord, features the katakana ジェイク in a square
        </title>
        <use fill="currentColor" href="/svg/logo.svg#logo"></use>
      </svg>
      <nav class="ob-stack" aria-label="Website navigation">
        <ul class="ob-list ob-nav ob-stack">
          <li>
            <a 
              class="ob-link" 
              href="/" 
              aria-current="{path == '/' ? "page" : '' }"
            >
              home
            </a>
          </li>
          <li>
            <a 
              class="ob-link"
              href="/work" 
              aria-current={path == '/writing' ? "page" : '' }
            >
              my work
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="ob-content ob-grid">
      <aside aria-label="Social links">
        <ul class="ob-list ob-social-links ob-stack">
          <li>
            <a class="ob-link" href="https://www.linkedin.com/in/ordyboii" aria-label="Link to my Linkedin page">
              <svg width="24" height="24">
                <use
                  stroke="currentColor"
                  href="/svg/linkedin.svg#linkedin"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ob-link" href="https://github.com/ordyboii" aria-label="Link to my Github page">
              <svg width="24" height="24">
                <use
                  stroke="currentColor"
                  href="/svg/github.svg#github"
                ></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="ob-link" href="mailto:jake.ord345@gmail.com" aria-label="Email me!">
              <svg width="24" height="24">
                <use stroke="currentColor" href="/svg/mail.svg#mail"></use>
              </svg>
            </a>
          </li>
        </ul>
      </aside>
      <div id="content" class="ob-animate-fade">
        {% block content %}{% endblock content %}
      </div>
    </main>
  </body>
</html>