{% extends "base.html" %}

{% block title %}Case Studies{% endblock%}

{% block content %}
  <section class="ob-case-studies ob-flow">
    <h1 class="ob-heading-xl">Case Studies</h1>

    <div class="ob-grid">
      <div class="ob-flow">
        <h2 class="ob-heading-l">Client Work</h2>
        <ul class="ob-list ob-flow">
          {% for project in projects %}
            <li class="ob-card">
              <a href="/case-studies/{{ project.slug }}" class="ob-link ob-card">
                <img src="{{ project.data.image }}" alt="{{ project.data.title }} hero image" width="1600" height="900" />
                <div class="ob-flow">
                  <h3 class="ob-heading-m">{{ project.data.title }}</h3>
                  <p class="ob-body"><strong>Client:</strong> {{ project.data.client }}</p>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="ob-flow">
        <h2 class="ob-heading-l">On The Side</h2>
        <ul class="ob-list ob-flow">
          {% for side in sides %}
            <li class="ob-card">
              <img src="{{ side.data.image }}" alt="{{ side.data.title }} hero image" width="1600" height="900" />
              <div class="ob-flow">
                <h3 class="ob-heading-m">{{ side.data.title }}</h3>
                <p class="ob-body">{{ side.body | safe }}</p>
                <a class="ob-link" href="{{ side.data.github }}">View code</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}