* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Geist";
  font-weight: 400;
  src: url("../fonts/Geist-Regular.woff2") format("woff2")
    url("../fonts/Geist-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Geist";
  font-weight: 600;
  src: url("../fonts/Geist-SemiBold.woff2") format("woff2")
    url("../fonts/Geist-SemiBold.otf") format("opentype");
}

:root {
  --ordyboii-focus: #ffdd00;
  --ordyboii-black: #0a0a0a;
  --ordyboii-mid-black: #d4d4d8;
  --ordyboii-white: #f5f5f5;

  --ordyboii-font-size-body: 19px;
  --ordyboii-font-weight-semibold: 600;
  --ordyboii-font-weight-regular: 400;
}

.ordyboii-template {
  font-family: "Geist", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--ordyboii-black);
  color: var(--ordyboii-white);
  max-width: 600px;
  margin-inline: auto;
  padding: 10px;
  padding-top: 50px;
  font-size: var(--ordyboii-font-size-body);
}

.ordyboii-template__section {
  padding-block: 40px;
}

.ordyboii-link {
  color: var(--ordyboii-mid-black);
}

.ordyboii-link:hover {
  color: var(--ordyboii-focus);
}

.ordyboii-link:focus {
  background-color: var(--ordyboii-focus);
  color: var(--ordyboii-black);
}

.ordyboii-heading {
  font-weight: 600;
  font-size: var(--ordyboii-font-size-body);
}

.ordyboii-body {
  font-size: var(--ordyboii-font-size-body);
}

.ordyboii-caption {
  font-size: 16px;
  color: var(--ordyboii-mid-black);
}

.ordyboii-header {
  display: flex;
  gap: 15px;
}

.ordyboii-skip-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--ordyboii-focus);
  color: var(--ordyboii-black);
  padding: 10px;
  opacity: 0;
}

.ordyboii-skip-link:focus {
  opacity: 1;
}

