---
import Base from "layouts/base.astro";
import Dragon from "components/dragon";
import { HeadingOne, Link } from "components/typography";
---

<Base>
  <section class='flex flex-col-reverse items-center gap-12 py-16 sm:flex-row'>
    <Dragon client:visible size={500} />
    <div class='flex flex-col gap-6'>
      <HeadingOne>
        Error 404: It appears you are lost, I cannot seem to find that page
      </HeadingOne>
      <Link href='/'>Go to homepage</Link>
    </div>
  </section>
</Base>
