---
import Layout from "../components/layout.astro";
export const prerender = true;
---

<Layout title='About Me'>
  <section class='l-flow'>
    <h1>About Me</h1>

    <div class='about l-grid' data-cols='even'>
      <article class='l-flow'>
        <p>
          I am a British-born designer based in Newcastle, UK. As a child, I was
          fascinated by mythology and art, and how it made people feel. In 2011,
          I began learning illustration and sharing my art on DeviantArt, which
          introduced me to the world of digital experiences.
        </p>
        <p>
          I am a British-born designer based in Newcastle, UK. As a child, I was
          fascinated by mythology and art, and how it made people feel. In 2011,
          I began learning illustration and sharing my art on DeviantArt, which
          introduced me to the world of digital experiences.
        </p>

        <h2>Where am I now?</h2>
        <p>
          Currently, I work for DEF Software Ltd during the day, but at night I
          can often be found playing with code and data. "But who works all the
          time, right?" In my free time, I enjoy studying Japanese, going to the
          gym, cooking, and adding to my growing collection of figures.
        </p>

        <h2>What's up with the Japanese?</h2>
        <p>
          Japanese culture has always fascinated me, it's through that culture I
          found dragons - the first things I ever illustrated. And to this day I
          consider my interest in Japanese part of my journey into the world of
          art and graphics.
        </p>
      </article>
      <img
        src='/me-london.jpg'
        alt='Jake Ord looking out to Trafalgar Square in London'
      />
    </div>
  </section>
</Layout>

<style>
  @media (max-width: 50em) {
    .about > img {
      grid-row: 1;
    }
  }
</style>
