---
import Base from "layouts/base.astro";
import PostGrid from "components/post-grid.astro";
import AnnotatedText from "components/annotated-text";

const posts = await Astro.glob<Post>("./blog/*.md");
---

<Base title='Jake Ord - Blog'>
  <section class='grid gap-6 py-16'>
    <AnnotatedText
      client:visible
      component='HeadingOne'
      type='underline'
      content='Blog'
    />
    <PostGrid posts={posts} />
  </section>
</Base>
