---
import { Image } from "@astrojs/image/components";
import BaseLayout from "../components/base.astro";
---

<BaseLayout>
  <section class='flow'>
    <h1>Hello I'm Jake Ord, UX Designer.</h1>
    <p>
      I make the case for empowering users with intuitive interfaces through
      creating meaningful interactions. Right now, I'm a UX designer at <a
        href='https://def.co.uk'>DEF Software Ltd.</a
      >
    </p>
    <div class='stack'>
      <Image
        src='/me-profile.jpg'
        alt='Profile shot of Jake Ord with a sunset in the background'
        class='avatar flex-shrink-none'
        format='webp'
        width={200}
        height={220}
      />
      <p>
        "I take problems and turn them into simple, research-validated solutions
        that drive business growth and bring value to end-users".
      </p>
    </div>

    <p>
      I achieve this by challenging expectations, engaging in rigorous
      iteration, and thriving on working closely with stakeholders, co-workers,
      and end-users to ensure that the end product is both accessible and
      usable.
    </p>

    <h2>{new Date().getFullYear() - 2019} years doing design</h2>
    <p>
      I've worked on a variety of projects, including back-office enterprise
      SaaS products, mobile apps, and public-facing web platforms. In my earlier
      days, I also worked on brand and marketing design.
    </p>
    <p>
      My work involves blending interaction design with user journey mapping,
      data analysis, and code to craft engaging digital experiences.
    </p>

    <h2>Outside of work</h2>
    <p>
      You'll find me working out, drawing, spending time with family or engaged
      in my Japanese studies.
    </p>

    <details>
      <summary>お、ちょっと日本語を話せます。読むくれてありがとう。</summary>
      Oh, did I mention I speak a little Japanese. Thank you for reading.
    </details>
  </section>
</BaseLayout>

<style>
  section > div {
    --stack-wrap: nowrap;
  }

  .avatar {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100vmax;
    object-fit: cover;
    border: 3px solid var(--colour-primary);
  }
</style>
