---
import Base from "layouts/base.astro";
import { Image } from "@astrojs/image/components";
import AnnotatedText from "components/annotated-text";
import { ButtonLink } from "components/button";
import Dragon from "components/dragon";
import { TranslateText } from "components/translate";
import { HeadingOne, Link, Text } from "components/typography";
---

<Base>
  <section
    class='flex min-h-[600px] flex-col items-center gap-10 py-12 sm:gap-6 md:flex-row md:gap-20'
  >
    <div class='max-w-xl space-y-6'>
      <HeadingOne>
        Hi I'm Jake, a <AnnotatedText
          client:visible
          type='box'
          content='multidisciplinary'
        />
        designer that loves the web
      </HeadingOne>

      <Text class='text-lg'>
        I blend together product, usability, accessibility and technical design
        to deliver research-validated solutions that drive business growth.
        Nerdy about all things Typescript. Currently leading the UX design at
        <Link href='https://www.def.co.uk' target='_blank' rel='noreferrer'>
          DEF Software.
        </Link>{" "}
        But have previously worked for{" "}
        <Link href='https://rgb-ltd.co.uk/' target='_blank' rel='noreferrer'>
          R.G.B Media.
        </Link>
      </Text>

      <div class='flex flex-wrap items-center gap-2'>
        <Image
          src='/me-profile.jpg'
          alt='Jake Ord standing on some stairs in Edinburgh'
          format='webp'
          width={1000}
          height={1000}
          fit='contain'
          class='h-16 w-16 rounded-full border-2 border-gray-900 object-cover'
        />
        <Text class='text-lg font-bold'>
          <TranslateText
            client:visible
            en='I also speak a little Japanese'
            jp='「初めまして、少し日本語も話せます」'
          />
        </Text>
      </div>

      <div class='flex flex-wrap items-center gap-6'>
        <ButtonLink href='#work'>View my work</ButtonLink>
        <Link href='mailto:jake.ord345@gmail.com'>Or say hello</Link>
      </div>
    </div>

    <Dragon client:visible size={300} />
  </section>
</Base>
