---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout title='Welcome to Astro.'>
  <main class='m-2 flex flex-1 items-center gap-2 p-4 md:first-letter:m-1'>
    <h1>helii</h1>
    <h2>awdawds</h2>
  </main>
</BaseLayout>
