---
import BaseLayout from "../components/base.astro";
---

<BaseLayout>
  <section class='l-flow'>
    <h1>Jake Ord - UX Designer.</h1>
    <p>
      A UX designer that loves to create super simple digital experiences.
      Currently a <strong>UX designer at DEF Software Ltd.</strong>
    </p>
    <div class='l-flex' data-items='center'>
      <img
        class='avatar u-flex-shrink-none'
        src='/me-profile.jpg'
        alt='Profile shot of Jake Ord with a sunset in the background'
      />
      <p data-width='wide'>
        「初めまして、少し日本語も話せます」<em
          >(Nice to meet you, I also speak a little Japanese)</em
        >
      </p>
    </div>
    <p>
      I blend together UX, accessibility and data to deliver research-validated
      solutions. Nerdy about all things data, code and data visualisation. Oh,
      and dragons too!
    </p>
  </section>
</BaseLayout>

<style>
  .avatar {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100vmax;
    object-fit: cover;
    border: 3px solid var(--primary);
  }
</style>
