---
import Base from "layouts/base.astro";
import ProjectGrid from "components/project-grid.astro";
import AnnotatedText from "components/annotated-text";

const projects = await Astro.glob<Project>("./projects/*.md");
---

<Base title='Jake Ord - Work'>
  <section class='grid gap-6 py-16'>
    <AnnotatedText
      client:visible
      component='HeadingOne'
      type='underline'
      content='My Work'
    />
    <ProjectGrid projects={projects} />
  </section>
</Base>
