---
import { getCollection } from "astro:content";
import BaseLayout from "../components/base.astro";

const posts = await getCollection("posts");
---

<BaseLayout title='Writing'>
  <section class='flow'>
    <h1>Writing</h1>
    <ul class='flow'>
      {
        posts.map(post => (
          <li>
            <a class='flow' href={`/writing/${post.slug}`}>
              <h3>{post.data.title}</h3>
              <p>
                {post.data.date.toLocaleDateString("en-gb", {
                  dateStyle: "long"
                })}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  section {
    --flow: 2rem;
  }

  a {
    --flow: 1rem;
  }
</style>
