$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  extraLarge: 1440px,
);

@mixin breakpoint($breakpoint) {
  $breakpoint: map-get($breakpoint, $breakpoint);

  @if $breakpoint {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @error "Breakpoint not found";
  }
}
