:root {
  --colourBlack5: #d4d4d8;
  --colourBlack9: #0a0a0a;
  --colourWhite1: #f5f5f5;
  --colourFocus: #ffdd00;

  --textSize4: 18px;
  --textKerning4: -0.0025em;
  --textLeading4: 26px;
  --textRegular: 400;
  --textBold: 700;

  --size1: 0.25rem;
  --size2: 0.5rem;
  --size3: 0.75rem;
  --size4: 1rem;
  --size5: 1.5rem;
  --size6: 2rem;
  --size7: 2.5rem;
  --size8: 3rem;
  --size9: 4rem;
}
