{% extends "base.html" %}

{% block content %}
<section class="home flow">
	<h1>Hello I'm Jake Ord</h1>
	<p>
		I make the case for empowering users with intuitive interfaces through
		creating meaningful interactions. I also love to build apps in Python & Javascript. Right now, I am an
		Interaction Designer at <a href="https://www.gov.uk/government/organisations/hm-revenue-customs">HMRC.</a> But
		have worked previously for <a href="https://def.co.uk">DEF Software Ltd.</a>
	</p>
	<div class="stack">
		<img src="{{ url_for('static', filename='me-profile.jpg') }}"
			alt="Profile shot of Jake Ord with a sunset in the background" width="50" height="50" class="avatar" />
		<p>
			"I take problems and turn them into simple, research-validated
			solutions that drive business growth and bring value to end-users".
		</p>
	</div>

	<p>
		I achieve this by challenging expectations, engaging in rigorous
		iteration, and thriving on working closely with stakeholders,
		co-workers, and end-users to ensure that the end product is both
		accessible and usable.
	</p>

	<details>
		<summary>「お、ちょっと日本語を話せます」</summary>
		Oh, I speak a little Japanese.
	</details>
</section>
{% endblock %}