---
const pathname = new URL(Astro.request.url).pathname.replaceAll("/", "");
---

<header class='header stack'>
  <svg
    class='flex-shrink-none'
    fill='white'
    width='50'
    height='80'
    min-width='50'
  >
    <title>Logo for Jake Ord, features the katakana ジェイク in a square</title>
    <use fill='currentColor' href='/logo.svg#logo'></use>
  </svg>
  <nav class='stack' aria-label='Website navigation'>
    <ul class='stack'>
      <li>
        <a href='/' aria-current={pathname === "" ? "page" : "false"}>Home</a>
      </li>
      <li>
        <a
          href='/case-studies'
          aria-current={pathname === "case-studies" ? "page" : "false"}
          >Case Studies
        </a>
      </li>
      <li>
        <a
          href='/writing'
          aria-current={pathname === "writing" ? "page" : "false"}
          >Writing
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  a {
    padding: 0.4rem 0.8rem;
  }

  @media (min-width: 50em) {
    a {
      padding: 0.8rem 1.2rem;
    }
  }

  a:is(:hover, :focus),
  a[aria-current="page"] {
    background-color: var(--colour-primary);
    color: var(--colour-secondary);
    border-radius: var(--radius);
    text-decoration: none;
  }
</style>
