---
import MenuItems from "./menu-items.astro";
import MobileMenu from "./mobile-menu";
import { TranslateText } from "./translate";
---

<header class='flex items-center justify-between gap-8'>
  <a href='/' class='text-3xl font-bold hover:opacity-60 focus:opacity-60'>
    <TranslateText client:visible en='Jake Ord' jp='オードジェイク' />
  </a>

  <ul role='navigation' class='hidden gap-4 md:flex md:items-center'>
    <MenuItems />
  </ul>

  <MobileMenu client:visible>
    <ul class='flex flex-wrap items-center justify-between gap-4'>
      <MenuItems inverse />
    </ul>
  </MobileMenu>
</header>
