---
const pathname = new URL(Astro.request.url).pathname.replaceAll("/", "");
---

<header class='header l-flex'>
  <svg
    class='u-flex-shrink-none'
    fill='white'
    width='50'
    height='80'
    min-width='50'
  >
    <title>Logo for Jake Ord, features the katakana ジェイク in a square</title>
    <use fill='currentColor' href='/logo.svg#logo'></use>
  </svg>
  <nav
    class='l-flex'
    data-items='center'
    data-wrap
    aria-label='Website navigation'
  >
    <ul role='list' class='l-flex' data-wrap>
      <li>
        <a
          href='/'
          class='header-link'
          aria-current={pathname === "" ? "page" : "false"}>Home</a
        >
      </li>
      <li>
        <a
          href='/case-studies'
          class='header-link'
          aria-current={pathname === "case-studies" ? "page" : "false"}
          >Case Studies
        </a>
      </li>
      <li>
        <a
          href='/writing'
          class='header-link'
          aria-current={pathname === "writing" ? "page" : "false"}
          >Writing
        </a>
      </li>
      <li>
        <a
          href='/about'
          class='header-link'
          aria-current={pathname === "about" ? "page" : "false"}>About</a
        >
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    --flexGap: 1rem;
  }

  @media (min-width: 50em) {
    .header {
      --flexGap: 1.4rem;
    }
  }

  .header-link {
    padding: 0.4rem 0.8rem;
  }

  @media (min-width: 50em) {
    .header-link {
      padding: 0.8rem 1.2rem;
    }
  }

  .header-link:is(:hover, :focus),
  .header-link[aria-current="page"] {
    background-color: var(--themeElement);
    color: var(--themeText);
    border-radius: var(--radius);
    text-decoration: none;
  }
</style>
