---
import Social from "./social.astro";

const { inverse } = Astro.props as {
  inverse: boolean;
};

const navClass = (path: string) =>
  `px-3 py-2 rounded-md transition ease-in cursor-pointer ${
    inverse ? "hover:bg-sky-500" : "hover:bg-sky-900 hover:text-white"
  } ${!inverse && Astro.url.pathname === path && "bg-sky-900 text-white"} ${
    inverse && Astro.url.pathname === path && "bg-sky-500 text-white"
  }`;
---

<li class='flex gap-2'>
  <a class={navClass("/projects")} href='/projects'> Work</a>
  <a class={navClass("/blog")} href='/blog'>Blog</a>
  <a
    class={navClass("/jakeord-cv.pdf")}
    href='/jakeord-cv.pdf'
    target='_blank'
    rel='noopener'
  >
    My CV</a
  >
</li>

<li class='flex gap-3'>
  <Social inverse={inverse} />
</li>
