<nav aria-label='Social links'>
  <ul role='list' class='social-links l-flex' data-items='center'>
    <li>
      <a
        href='https://twitter.com/ordyboii'
        aria-label='Link to my Twitter page'
      >
        <svg width='24' height='24'>
          <use stroke='currentColor' href='/twitter.svg#twitter'></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href='https://www.linkedin.com/in/jorddy/'
        aria-label='Link to my LinkedIn page'
      >
        <svg width='24' height='24'>
          <use stroke='currentColor' href='/linkedin.svg#linkedin'></use>
        </svg>
      </a>
    </li>
    <li>
      <a href='https://github.com/ordyboii' aria-label='Link to my Github page'>
        <svg width='24' height='24'>
          <use stroke='currentColor' href='/github.svg#github'></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>

<style>
  @media (min-width: 50em) {
    .social-links {
      flex-direction: column;
    }
  }
</style>
