@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/yellow.css";

:root {
  --spacing: 0.25rem;
  --radius: 0.3rem;
  --resize: 5vw;

  --ff-poppins: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-xxl: clamp(3.815rem, var(--resize), 3.052rem);
  --fs-xl: clamp(3.052rem, var(--resize), 2.441rem);
  --fs-lg: clamp(2.441rem, var(--resize), 1.953rem);
  --fs-md: clamp(1.953rem, var(--resize), 1.563rem);
  --fs-sm: clamp(1.563rem, var(--resize), 1.25rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--ff-poppins), sans-serif;
  line-height: 1.6;
  background-color: var(--gray-12);
  color: var(--gray-1);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  max-width: 60ch;
}

h1,
h2,
.ob-logo {
  line-height: 1.1;
}

[role="list"] {
  list-style: none;
}

h1,
.ob-logo {
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
}

h2 {
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
}

h3 {
  font-weight: var(--fw-bold);
}

a {
  color: var(--c-grey);

  &:focus {
    background-color: var(--yellow-4);
    outline: 2px solid var(--gray-12);
    color: var(--gray-12);
    font-weight: var(--fw-bold);
  }
}

.ob-cluster {
  display: flex;
  flex-direction: var(--cluster-direction, row);
  align-items: var(--cluster-align, center);
  gap: calc(var(--cluster-gap, var(--spacing)) * 4);
}

.ob-flow {
  display: grid;
  gap: calc(var(--flow-gap, var(--spacing)) * 4);
}

.ob-region {
  padding-block: calc(var(--region-padding, var(--spacing)) * 8);
}

.ob-container {
  max-width: 600px;
  margin-inline: auto;
  padding: calc(var(--spacing) * 8);
}

.ob-header {
  padding-bottom: calc(var(--spacing) * 8);
}

.ob-logo {
  text-decoration: none;

  span {
    color: var(--gray-8);
  }

  &:focus span {
    color: var(--gray-12);
  }
}

.ob-skip-link {
  padding: calc(var(--spacing) * 1);
  position: absolute;
  top: -100%;
  left: 0;
  background-color: var(--gray-9);
  color: var(--gray-12);
  text-decoration: none;

  &:focus {
    top: 0;
    position: relative;
    display: block;
  }
}
